@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
html{
	box-sizing:border-box;
}
body{
	font-size:15px;
	color: #6c6c6c;
}
.wrap{
	max-width:1000px;
	margin:0 auto
}
a{
	color: #1276c1;
	outline:none;
	text-decoration:none;
}

.header{
	text-align:center;
	widows:100%
}
.header h1{
	font-size:50px;
	line-height:100px;
	margin-bottom:5px;
}
.header h1 span{
	color:#e61f19;
}

.menu{
	height: 45px;
	width: 100%;
	border-radius: 5px;
	border: solid #6c6c6c 1px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.menu-box{
	float: left;
	line-height: 45px;
	
	border-right: 1px #6c6c6c solid;
	
}
.menu-box a{
	color: #6c6c6c;
	padding: 0px 20px;
	display: block;
	width: 100%;
	height: 45px;
	transition:0.2s all;
	-webkit-transition:0.2s all;
	-moz-transition:0.2s all;
	-o-transition:0.2s all;
	-ms-transition:0.2s all;
}
.menu-box a:hover,.menu-box.active a{
	background: #6c6c6c;
	color: #fff;
}
.form{
	margin: 30px 0px;
}
.form-main{
	max-width: 600px;
	margin: 0 auto;
}
.form-box{
	width: 100%;
	padding: 5px 10px;
	margin-bottom: 15px;
}
.form-box p{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
}
.form-box input{
	display:inline-block;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: solid #6c6c6c 1px;
	padding:0px 10px;
}
.form-box textarea{
	display:inline-block;
	width: 100%;
	height: 100px;
	border-radius: 5px;
	border: solid #6c6c6c 1px;
	padding:10px;
}
.form-text .form-box textarea{
	height: 700px;
}
.text-red{
	color: #E61F19;
}
.text-gray{
	color: #999;
	font-size: 13px;
	margin-left: 10px;
	font-weight: normal;
}
.text-important{
	color: #E61F19;
	font-size: 13px;
	margin-left: 10px;
	font-weight: normal;
}
.form-btn{
	width: 100%;
	padding: 15px 0px;
	text-align: center;
}
.form-btn button{
	border:#1276c1 solid 1px;
	background:#1276c1;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	box-shadow: 0px 0px 2px #1276c1;
}
.form-btn button:active{
	background-color: #0f6bac;
}
.code{
	width: 100%;
	background-color: #f3f3f3;
	padding: 20px 20px;
	margin: 10px 0px;
	border-radius: 8px;
}
.code p{
	line-height: 30px;
	color: #333;
}
.footer .wrap{
	margin-top: 30px;
	border-top: #f3f3f3 solid 1px;
	padding-top: 20px;
	line-height: 35px;
	padding-bottom: 40px;
}
.noLogin{
	position: fixed;
	z-index: 300;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #fff;
}
.noLogin-mian{
	position: fixed;
	z-index: 301;
	top: 35%;
	left: 0;
	width: 100%;
}
.noLogin-box{
	width: 302px;
	height: 40px;
	border-radius: 6px;
	margin: 0 auto;
	overflow: hidden;
	border: #0f6bac 1px solid;
}
.noLogin-box input{
	display: block;
	height: 40px;
	border:none;
	line-height: 40px;
	padding: 0px 10px;
	float: left;
	width: 220px;
	outline: none;
}
.noLogin-box button{
	background: #0f6bac;
	color: #fff;
	width: 80px;
	float: left;
	outline: none;
	text-align: center;
	line-height: 40px;
	border: none;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	display: block;
}
.alert{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}
.alert-mian{
	position: fixed;
	z-index: 1000;
	top: 35%;
	left: 0;
	width: 100%;
}
.alert-box{
	padding: 10px;
	width: 100px;
	font-size: 13px;
	border-radius: 6px;
	margin: 0 auto;
	color: #fff;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
}
.menu-box.outSystem{
	border: none;
	float: right;
}
.menu-box.outSystem a{
	color: #e54d42;
	font-weight: bold;
}
.menu-box.outSystem a:hover{
	background: none;
}
.menu-box{
	position: relative;
}
.menu-box-sub{
	border: none;
	background: #323232;
	display: none;
	margin-top: -2px;
	width: 100%;
	position: absolute;
}
.menu-box:hover .menu-box-sub{
	display: block;

}
.menu-box-sub a{
	height: 40px;
	color: #fff;
	line-height: 40px;
}
.menu-box-sub a:nth-child(1){
	border-bottom: #6c6c6c 1px solid;
}
.tomenu{
	display: none;
}
.bg-tomenu{
	width: 100%;
	position: fixed;
	z-index: 250;
	background: #000;
	opacity: 0.45;
	top: 0;
	left: 0;
	height: 100vh;
	display: none;
}
@media screen and (max-width: 1020px){
	.wrap{
		padding: 0px 15px;
	}
	.header{
		padding: 0px 15px;
	}
	.tomenu{
		position: absolute;
		top: 24px;
		z-index: 200;
		left: 30px;
		width: 200px;
		display: block;
	}
	.tomenu a{
		text-decoration: none;
		font-weight: bold;
		font-size: 17px;
	}
	.menu{
		width: 50%;
		border:none;
		position: fixed;
		left: 0px;
		top: 0px;
		height: 100vh;
		z-index: 300;
		border: none;
		background: #3e3e3e;
		box-sizing: border-box;
		padding: 30px 20px;
		border-radius: 0px;
		display: none;
	}
	.menu-box{
		font-size: 13px;
		line-height: 40px;
		width: 100%;
		border: none;
		text-align: left;
	}
	.menu-box-sub{
		position: inherit;
	}
	.menu-box a{
		height: 40px;
		color: #f3f3f3;
	}
	.wapshow{
		display: block !important;
	}
	.header h1 {
		font-size: 35px;
		line-height: 70px;
		margin-bottom: 5px;
	}
}