<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>系统设置中心 - RuleApi</title>
<link href="css/base.css?v=20220227" rel="stylesheet"/>
</head>

<body>
<div id="app">
	<div class="header">
		<div class="wrap">
			<h1>Rule<span>Api</span></h1>
			<div class="menu"  :class="isMenu?'wapshow':''">
				<div class="menu-box" @click="toPage(1)" :class="page=='1'?'active':''">
					<a href="javascript:;">基本设置</a>
				</div>
				<div class="menu-box" @click="toPage(2)" :class="page=='2'?'active':''">
					<a href="javascript:;">邮箱配置</a>
				</div>
				<div class="menu-box" @click="toPage(3)" :class="page=='3'?'active':''">
					<a href="javascript:;">Mysql设置</a>
				</div>
				<div class="menu-box" @click="toPage(4)" :class="page=='4'?'active':''">
					<a href="javascript:;">Redis设置</a>
				</div>
				<div class="menu-box">
					<a href="javascript:;">远程存储设置</a>
					<div class="menu-box-sub">
						<a href="javascript:;" @click="toPage(5)" :class="page=='5'?'active':''">COS设置</a>
						<a href="javascript:;" @click="toPage(6)" :class="page=='6'?'active':''">OSS设置</a>
						<a href="javascript:;" @click="toPage(10)" :class="page=='10'?'active':''">远程FTP</a>
					</div>
				</div>

				<div class="menu-box">
					<a href="javascript:;">支付设置</a>
					<div class="menu-box-sub">
						<a href="javascript:;" @click="toPage(7)" :class="page=='7'?'active':''">支付宝</a>
						<a href="javascript:;" @click="toPage(9)" :class="page=='9'?'active':''">微信</a>
					</div>
				</div>
				<div class="menu-box" @click="toPage(8)" :class="page=='8'?'active':''">
					<a href="javascript:;">编辑配置文件<font class="text-red">*</font></a>
				</div>
				<div class="menu-box outSystem"  @click="outSystem()">
					<a href="javascript:;" class="text-red">退出</a>
				</div>
			</div>
		</div>
	</div>
	<div class="form">
		<div class="wrap">
			<!--基本设置-->
			<div class="form-main" v-if="page==1">
				<div class="form-box">
					<p>网站名称<span class="text-gray">用于邮件发送</span></p>
					<input type="text" class="input-text" v-model="webinfoTitle" placeholder="请输入网站名称"/>
				</div>
				<div class="form-box">
					<p>网站地址</p>
					<input type="text" class="input-text" v-model="webinfoUrl" placeholder="请输入网站地址"/>
				</div>
				<div class="form-box">
					<p>积分充值比例<span class="text-gray">一元钱等于多少积分</span></p>
					<input type="text" class="input-text" v-model="scale" placeholder="请输入积分充值比例"/>
				</div>
				<div class="form-box">
					<p>系统管理key<span class="text-important">重要，用于访问此系统设置页面</span></p>
					<input type="text" class="input-text" v-model="webinfoKey" placeholder="请输入系统管理key"/>
				</div>
				<div class="form-box">
					<p>用户登录状态持续时间<span class="text-gray">默认10天</span></p>
					<input type="text" class="input-text" v-model="webinfoUsertime" placeholder="请输入用户登录状态持续时间"/>
				</div>
				<div class="form-box">
					<p>本地&ftp图片访问地址<span class="text-gray">本地上传接口或者FTP上传接口的访问地址，具体需要看配置教程</span></p>
					<input type="text" class="input-text" v-model="webinfoUploadUrl" placeholder="请输入本地图片访问地址"/>
				</div>
				<div class="form-box">
					<p>头像源avatar<span class="text-gray">公共头像库的源</span></p>
					<input type="text" class="input-text" v-model="webinfoAvatar" placeholder="请输入公共头像库的源"/>
				</div>
				<div class="form-box">
					<p>pexelsKey<span class="text-gray">pexel是一个在线图库，可以获取免费无版权风险的高清图片，<a href="https://www.pexels.com/zh-cn/api/" target="_blank">点击此处申请</a></span></p>
					<input type="text" class="input-text" v-model="pexelsKey" placeholder="请输入pexelsKey"/>
				</div>
				<div class="form-btn">
					<button type="button" class="input-text" class="btn" @click="saveWebinfo()">保存数据</button>
				</div>
			</div>
			<!--基本设置结束-->
			<!--邮箱配置-->
			<div class="form-main" v-if="page==2">
				<div class="form-box">
					<p>邮件Host<span class="text-gray">请根据平台获取</span></p>
					<input type="text" class="input-text" v-model="mailHost" placeholder="请输入邮件Host"/>
				</div>
				<div class="form-box">
					<p>发信邮箱</p>
					<input type="text" class="input-text" v-model="mailUsername" placeholder="请输入发信邮箱"/>
				</div>
				<div class="form-box">
					<p>发信授权码<span class="text-gray">请根据平台获取</span></p>
					<input type="text" class="input-text" v-model="mailPassword" placeholder="请输入发信授权码"/>
				</div>
				<div class="form-btn">
					<button type="button" class="input-text" class="btn" @click="saveEmail()">保存数据</button>
				</div>
			</div>
			<!--邮箱配置结束-->
			<!--Mysql配置-->
			<div class="form-main" v-if="page==3">
				<div class="form-box">
					<p>Mysql链接串<span class="text-gray">同时包括了地址，端口和数据库名，请注意修改</span></p>
					<input type="text" class="input-text" v-model="dataUrl" placeholder="请输入Mysql链接串"/>
				</div>
				<div class="form-box">
					<p>Mysql用户名</p>
					<input type="text" class="input-text" v-model="dataUsername" placeholder="请输入Mysql用户名"/>
				</div>
				<div class="form-box">
					<p>Mysql密码</p>
					<input type="text" class="input-text" v-model="dataPassword" placeholder="请输入Mysql密码"/>
				</div>
				<div class="form-box">
					<p>数据表前缀<span class="text-gray">typecho的数据表前缀，默认就是typecho</span></p>
					<input type="text" class="input-text" v-model="dataPrefix" placeholder="请输入数据表前缀"/>
				</div>
				<div class="form-btn">
					<button type="button" class="input-text" class="btn" @click="saveMysql()">保存数据</button>
				</div>
			</div>
			<!--Mysql配置结束-->
			<!--Redis配置-->
			<div class="form-main" v-if="page==4">
				<div class="form-box">
					<p>Redis地址</p>
					<input type="text" class="input-text" v-model="redisHost" placeholder="请输入Redis地址"/>
				</div>
				<div class="form-box">
					<p>Redis密码</p>
					<input type="text" class="input-text" v-model="redisPassword" placeholder="请输入Redis密码"/>
				</div>
				<div class="form-box">
					<p>Redis端口</p>
					<input type="text" class="input-text" v-model="redisPort" placeholder="请输入Redis端口"/>
				</div>
				<div class="form-box">
					<p>Redis数据前缀</p>
					<input type="text" class="input-text" v-model="redisPrefix" placeholder="请输入Redis数据前缀"/>
				</div>
				<div class="form-btn">
					<button type="button" class="input-text" class="btn" @click="saveRedis()">保存数据</button>
				</div>
			</div>
			<!--Redis配置结束-->
			<!--COS配置-->
			<div class="form-main" v-if="page==5">
				<div class="form-box">
					COS和OSS二选一配置，为腾讯云对象存储
				</div>
				<div class="form-box">
					<p>AccessKey</p>
					<input type="text" class="input-text" v-model="cosAccessKey" placeholder="请输入AccessKey"/>
				</div>
				<div class="form-box">
					<p>SecretKey</p>
					<input type="text" class="input-text" v-model="cosSecretKey" placeholder="请输入SecretKey"/>
				</div>
				<div class="form-box">
					<p>地域节点Bucket<span class="text-gray">地域节点：如ap-guangzhou</span></p>
					<input type="text" class="input-text" v-model="cosBucket" placeholder="请输入cosBucket"/>
				</div>
				<div class="form-box">
					<p>存储桶名称BucketName</p>
					<input type="text" class="input-text" v-model="cosBucketName" placeholder="请输入BucketName"/>
				</div>
				<div class="form-box">
					<p>访问地址Path<span class="text-gray">对象存储外网访问地址</span></p>
					<input type="text" class="input-text" v-model="cosPath" placeholder="请输入外网访问地址"/>
				</div>
				<div class="form-box">
					<p>文件夹名称</p>
					<input type="text" class="input-text" v-model="cosPrefix" placeholder="请输入文件夹名称"/>
				</div>
				<div class="form-btn">
					<button type="button" class="input-text" class="btn" @click="saveCos()">保存数据</button>
				</div>
			</div>
			<!--COS配置结束-->
			<!--OSS配置-->
			<div class="form-main" v-if="page==6">
				<div class="form-box">
					OSS和COS二选一配置，为阿里云对象存储
				</div>
				<div class="form-box">
					<p>地域节点Endpoint<span class="text-gray">地域节点域名：如oss-cn-beijing.aliyuncs.com</span></p>
					<input type="text" class="input-text" v-model="aliyunEndpoint" placeholder="请输入AccessKey"/>
				</div>
				<div class="form-box">
					<p>AccessKeyId</p>
					<input type="text" class="input-text" v-model="aliyunAccessKeyId" placeholder="请输入AccessKeyId"/>
				</div>
				<div class="form-box">
					<p>AccessKeySecret</p>
					<input type="text" class="input-text" v-model="aliyunAccessKeySecret" placeholder="请输入AccessKeySecret"/>
				</div>
				<div class="form-box">
					<p>存储桶名称BucketName</p>
					<input type="text" class="input-text" v-model="aliyunAucketName" placeholder="请输入BucketName"/>
				</div>
				<div class="form-box">
					<p>访问地址<span class="text-gray">对象存储外网访问地址</span></p>
					<input type="text" class="input-text" v-model="aliyunUrlPrefix" placeholder="请输入外网访问地址"/>
				</div>
				<div class="form-box">
					<p>文件夹名称</p>
					<input type="text" class="input-text" v-model="aliyunFilePrefix" placeholder="请输入文件夹名称"/>
				</div>
				<div class="form-btn">
					<button type="button" class="input-text" class="btn" @click="saveOss()">保存数据</button>
				</div>
			</div>
			<!--OSS配置结束-->
			<!--当面付设置-->
			<div class="form-main" v-if="page==7">
				<div class="form-box">
					支付宝当面付是个人可用的在线支付接口。
				</div>
				<div class="form-box">
					<p>APP ID</p>
					<input type="text" class="input-text" v-model="alipayAppId" placeholder="请输入APP ID"/>
				</div>
				<div class="form-box">
					<p>应用私钥<span class="text-gray text-red">请不要存在换行</span></p>
					<textarea type="text" class="text" v-model="alipayPrivateKey" placeholder="请输入应用私钥"></textarea>
				</div>
				<div class="form-box">
					<p>支付宝公钥<span class="text-gray text-red">请不要存在换行</span></p>
					<textarea type="text" class="text" v-model="alipayPublicKey" placeholder="请输入支付宝公钥"></textarea>
				</div>
				<div class="form-box">
					<p>回调地址<span class="text-gray">请将127.0.0.1:8081部分替换为自己的API域名</span></p>
					<input type="text" class="input-text" v-model="alipayNotifyUrl" placeholder="请输入回调地址"/>
				</div>
				<div class="form-btn">
					<button type="button" class="input-text" class="btn" @click="saveAlipay()">保存数据</button>
				</div>
			</div>
			<!--当面付设置结束-->
			<!--微信支付设置-->
			<div class="form-main" v-if="page==9">
				<div class="form-box">
					微信支付是微信官方提供的支付接口，<span class="text-red">证书文件apiclient_cert.p12请放在服务器/opt/weixin/文件夹</span>
				</div>
				<div class="form-box">
					<p>公众号APP Id</p>
					<input type="text" class="input-text" v-model="wxpayAppId" placeholder="请输入APP ID"/>
				</div>
				<div class="form-box">
					<p>商户号</p>
					<input type="text" class="input-text" v-model="wxpayMchId" placeholder="请输入商户号"/>
				</div>
				<div class="form-box">
					<p>支付密钥</p>
					<textarea type="text" class="text" v-model="wxpayKey" placeholder="请输入支付密钥"></textarea>
				</div>
				<div class="form-box">
					<p>回调地址<span class="text-gray">请将127.0.0.1:8081部分替换为自己的API域名</span></p>
					<input type="text" class="input-text" v-model="wxpayNotifyUrl" placeholder="请输入回调地址"/>
				</div>
				<div class="form-btn">
					<button type="button" class="input-text" class="btn" @click="saveWxpay()">保存数据</button>
				</div>
			</div>
			<!--微信支付设置结束-->
			<!--远程FTP设置-->
			<div class="form-main" v-if="page==10">
				<div class="form-box">
					用于将文件上传到远程FTP(非必须配置)
				</div>
				<div class="form-box">
					<p>FTP地址</p>
					<input type="text" class="input-text" v-model="ftpHost" placeholder="请输入FTP地址"/>
				</div>
				<div class="form-box">
					<p>FTP端口号</p>
					<input type="text" class="input-text" v-model="ftpPort" placeholder="请输入FTP端口号"/>
				</div>
				<div class="form-box">
					<p>FTP用户名</p>
					<input type="text" class="input-text" v-model="ftpUsername" placeholder="请输入FTP用户名"/>
				</div>
				<div class="form-box">
					<p>FTP密码</p>
					<input type="text" class="input-text" v-model="ftpPassword" placeholder="请输入FTP密码"/>
				</div>
				<div class="form-box">
					<p>FTP根目录</p>
					<input type="text" class="input-text" v-model="ftpBasePath" placeholder="请输入FTP根目录"/>
				</div>
				<div class="form-btn">
					<button type="button" class="input-text" class="btn" @click="saveFTP()">保存数据</button>
				</div>
			</div>
			<!--微信支付设置结束-->
			<!--配置文件更新-->
			<div class="form-text" v-if="page==8">
				<div class="form-box">
					可以在此编辑配置文件的全部项，或者用于修复错误的配置。
				</div>
				<div class="form-box">
					<p>application.properties</p>
					<textarea type="text" class="text" v-model="applicationText"/></textarea>
				</div>
				<div class="form-btn">
					<button type="button" class="input-text" class="btn" @click="saveConfig()">保存数据</button>
				</div>
			</div>
		</div>
	</div>
	<div class="update">
		<div class="wrap">
			<p>修改上方的配置后，需要重启RuleApi才会生效，可前往服务器控制台，执行如下指令。如指令不可用，可从下方获取最新的sh文件覆盖/opt原有的ruleapi.sh。</p>
			<p>
				<a href="https://www.ruletree.club/ruleapi.sh" target="_blank">国内服务器专用</a> | <a href="https://www.ruletree.club/api/ruleapi.sh" target="_blank">香港及海外专用（国内用不了也可以用这个替代）</a>
			</p>
			<div class="code">
				<p>screen -S 窗口名称（英文，随意就好）</p>
				<p>sh /opt/ruleapi.sh restart</p>
			</div>
			<p>或者到官网网站<a href="https://www.ruletree.club/tag/RuleApi/" target="_blank">查看更多信息</a></p>
		</div>
	</div>
	<div class="footer">
		<div class="wrap">
			<p>官方网站：<a href="https://www.ruletree.club" target="_blank">规则之树</a></p>
			<p>欢迎加入QQ交流群，获取帮助或参与新版本测试：776176904</p>
			<p>开源不易，如果觉得好用的话，欢迎 <a href="https://www.ruletree.club/sponsor.html" style="color:#f37b1d;font-weight: bold;" target="_blank">赞助开发者</a></p>
		</div>
	</div>
	<div class="noLogin" v-if="isLogin==0">
		<div class="noLogin-mian">
			<div class="noLogin-box">
				<input type="text" v-model="webkey" placeholder="输入访问Key"/>
				<button type="button" @click="toSystem()">进入</button>
			</div>
		</div>
	</div>
	<div class="alert" v-if="alert==1">
		<div class="alert-mian">
			<div class="alert-box">
				{{alertText}}
			</div>
		</div>
	</div>
	<div class="tomenu">
		<a href="javascript:;" @click="toMenu">拉出菜单</a>
	</div>
	<div class="bg-tomenu" @click="toMenu" :class="isMenu?'wapshow':''">
	</div>
</div>

<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="js/all.js?v=20220316"></script>
</body>
</html>
